/*======== Table ========*/


table {
    border: 0.5px solid #f3eeee;
    width: 98%;
    margin: auto;
}

.row1 {
    color: #000;
    font-size: 18px;
    text-align: center;
    /*height: 100px;*/
}


.type {
    padding: 10px 10px;
    background-color: rgb(227 227 227);
}

.input_submit {
    margin-left: 15px;
}

.input_submit a {
    text-decoration: none;
    color: black;
}


.form_search {
    margin: 20px 30px;
}


.notify_success {
    height: 40px;
    width: 35%;
    background-color: #40b52be0;
    color: #fff;
    line-height: 40px;
    padding-left: 14px;
    border-radius: 3px;
}

.input_one {
    height: 30px;
    width: 200px;
    border: 1px solid #40b52be0;
    padding-left: 10px;
    border-radius: 4px;
    outline: none;
}



.input_second {
    height: 40px;
    width: 80%;
    border: none;
    background-color: transparent;
    border: 1px solid #40b52be0;
    margin-left: 30px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 4px;
    outline: none;
}


.input_third {
    height: 40px;
    width: 80%;
    font-size: 18px;
    border: none;
    background-color: transparent;
    border: 1px solid #40b52be0;
    margin: 10px 100px;
    padding-left: 10px;
    border-radius: 4px;
    outline: none;
}

.input_search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #40b52be0;
    margin: 0px 100px;
    padding: 0 10px;
    border-radius: 3px;

}

.input_search-price {
    height: 40px;
    width: 40%;
    font-size: 18px;
    border: none;
    background-color: transparent;
    border: 1px solid #40b52be0;
    margin: 15px 20px;
    padding-left: 10px;
    border-radius: 4px;
    outline: none;
}


.form_title {
    font-size: 32px;
    color: #23958fd4;
    text-align: center;
    margin: 30px;
    font-weight: 700;
}

.form_label {
    font-size: 20px;
    color: #000;
    margin: 10px 34px;
    font-style: italic;
}

.thaotac {
    width: 120px;
}


/*Slideshow*/

.slideShoww {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    margin-top: 20%;
    border-radius: 4px;
}

.mySlides {
    display: none
}

.input_search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    margin: 0px 100px;
    padding: 0 10px;
    border-radius: 3px;
    position: relative;
}

.input_search-price {
    height: 40px;
    width: 40%;
    font-size: 18px;
    border: none;
    background-color: transparent;
    border: 1px solid #40b52be0;
    margin: 30px 20px 15px;
    padding-left: 10px;
    border-radius: 4px;
    outline: none;
}

/*========= Thong bao loc gia========*/
.notify {
    font-size: 18px;
    font-weight: 500;
}

.notify_min {
    color: #d94141;
    position: absolute;
    top: 59%;
    border: 1px solid $ccc;
    left: 250px;
    display: block;
    border: 1px solid #ccc;
    background: #8cc3eb;
    border-radius: 4px;
    padding: 1px 6px;
}

.notify_max {
    color: #d94141;
    position: absolute;
    top: 59%;
    border: 1px solid $ccc;
    left: 250px;
    display: block;
    border: 1px solid #ccc;
    background: #8cc3eb;
    border-radius: 4px;
    padding: 1px 6px;
}


.time1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 10px;
    /*margin-top: 20px;*/
    margin: 20px auto;
}